
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --bg-main: #000;
  --bg-panel: #0a0f1f;
  --bg-terminal: #050914;

  --color-primary: #00f7ff;
  --color-secondary: #9effff;
  --color-dim: #00f7ff66;

  --font-main: "Segoe UI", monospace;

  --radius-lg: 20px;
  --radius-md: 12px;
  --radius-sm: 8px;
}


html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-main);
  background: radial-gradient(circle at top, #0a0f1f, #000);
  color: var(--color-primary);
  overflow: hidden;
  user-select: none;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-dim);
  border-radius: 10px;
}


input,
button {
  font-family: inherit;
  outline: none;
  border: none;
}


button {
  cursor: pointer;
  background: var(--color-primary);
  color: #000;
  border-radius: var(--radius-sm);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--color-primary);
}

button:active {
  transform: scale(0.95);
}


.text-dim {
  color: var(--color-dim);
}

.hidden {
  display: none;
}
